table {
    border: 1px solid #ccc;
    width: 90%;
  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  }
  
  th, td {
    border: 1px solid #bedef1;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #d3f0dd;
  }
  h3 {
    color: rgb(0, 128, 130);
    margin-left: 20px;
    margin-bottom: 0%;
  }
  